body {
  font-family: Helvetica, sans-serif;
  margin: 0, 0;
  padding: 0, 0;
}

ul {
  font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#heading {
    background-image: linear-gradient(to right, rgb(39, 39, 39), rgb( 119, 119, 119));
    color: rgb(255, 255, 255);
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

